{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
      <div class="t18">
      <ul class="no-bullets">
          <font color="#FF495F" class="f1"><li>Contact</li><br></font>
          <font color="#7E7E7E" size=5px><li>Ecommerce platform</li>
          <li>like never before</li><br>
          <li>+915555555555</li><br>
          <font color="#FF495F" class="f1"><li>Address</li><br></font>
          <li>Ecommerce platform</li>
          <li>like never before</li></font>
      </ul>
  </div>
  <div class="t19">
      <ul class="no-bullets">
          <font color="#FF495F" class="f1"><li>Menu</li></font>
          <font color="#7E7E7E" size=5px><li>Home</li>
          <li>About Us</li>
          <li>Our Service</li>
          <li>Clients</li>
          <li>Project</li>
          <li>Career</li>
          <li>Contact</li></font>
      </ul>
  </div>
  <div class="t20">
      <ul class="no-bullets">
          <font color="#FF495F" class="f1"><li>Services</li></font>
          <font color="#7E7E7E" size=5px><li>Web Developments</li>
          <li>Mobile App Development</li>
          <li>UI/UX Design</li>
          <li>Ecommerce</li>
          <li>Digital Marketing</li>
          <li>Business Consultation</li>
          <li>Training & Internship</li></font>
      </ul>
  </div>
  <div class="t21">
      <ul class="no-bullets">
          <font color="#FF495F" class="f1"><li>About</li></font>
          <font color="#7E7E7E" size=5px><li>Who we are</li>
          <li>Our Vision</li></font>
      </ul>
       </div>
  <div class="t22">
          <font color="#FF495F" class="f1">Follow us</font><br><br>
      <font size=6px><a href="#" class="fa fa-facebook"></a>&nbsp&nbsp
          <a href="#" class="fa fa-twitter"></a>&nbsp&nbsp
          <a href="#" class="fa fa-instagram"></a><br><br>
          <a href="#" class="fa fa-linkedin"></a></font>
</div>

</footer>

