{% extends "polls_base.html" %}
{% load static %}
	{% block title %}
	  Career
	{% endblock title %}
    {% block css_files %}
      
    <link rel="stylesheet" type="text/css" href="{% static 'css/career.css' %}">
    {% endblock css_files %}
{% block body %}
  

	<div class="p1">
		<text><font color="red">WHY INIESTA</font></text>
	</div>
	<div class="p2">
		<p>At Iniesta webtech, we endeavor to provide a formidable platform for professionals who will be our change agents – catalysts who are torchbearers of our fortitude to excel and redefine the limits of technology to make our clients successful. Our hiring team focuses on the recruitment of talented professionals in the industry. If you are experienced in the pursuit of excellence in IT, and looking for challenging opportunities to actualize your fire within, look no further. A career at Wipro offers just that and a lot more</p>
        </div>
	<div>
		<img src="{% static 'career_page_images/1.png' %}" class="img1">
	</div>
	<div class="box2">
	</div>
	<div>
		<img src="{% static 'career_page_images/2.png' %}" class="img2">
	</div>
	<div>
		<img src="{% static 'career_page_images/3.png' %}" class="img3">
	</div>
	<div class="rec2">
    	<text class="p3">EXPLORE</text>
    </div>
    <div class="rec3">
    	<text class="p4">Search By Job Keyword</text>
    </div>
    <div class="rec4">
    	<text class="p5">Search By Job Location</text>
    </div>
    <div>
    	<img src="{% static 'career_page_images/4.png' %}" class="img4">
    </div>
    <div>
    	<img src="{% static 'career_page_images/5.png' %}" class="img5">
    </div>
    <div class="p6">
    	<text>Come <font color="red">Find</font> Your<font color="red"> Best</font> Self</text>
    </div>
    <div class="p7">
    	<text><p>We Understand That Not All Talent is Created Equally - And That The Best is Other A Lot Better Than The rest. we also know that the need for (sustainable) speed has never been greater. at the heart of extraordinary impact lies a culture of career-integrated hyper learning and extraordinary relationships we understand that not all talent is created equality - greater. at the heart of extraordinary impact lies a culture of career-intigrated hyper learning and extraordinary relationships<br>
    		We Understand That Not All Talent is Created Equally - And That The Best is Other A Lot Better Than The rest. we also know that the need for (sustainable) speed has never been greater. at the heart of extraordinary impact lies a culture of career-integrated hyper learning and extraordinary relationships </p></text>
    </div>
    <div class="p11">
    	<text><p>Reviews & <font color="red">Ratings</font></p></text>
    </div>
     <div>
    	<img src="{% static 'career_page_images/6.png' %}" class="img6">
    </div>
    <div class="rec7">
    	<text class="p10" align="center"><h2>Learn and Grow in an empowered environment</h2><br><p>
    	At Iniesta webtech, we are proud of our go-getter attitude that adds a feeling of challenge and fun in all our endeavours.<br><br> As a open door workplace, we strive by fostering excellence that encourages innovation and creativity in everything we see and do. <br><br>Join us to realize your career goals with the unique opportunity to work on emerging technologies and smart services.<br><br>
Want to join the Iniesta webtech family?
</p></text>
    </div>
    <div class="rec6">
    	<text class="p9" align="center"><h2>Blaze your trail to professional glory with us</h2><br><p>
    	With Iniesta webtech, you get to be part of a culturally diverse global team of doers who want to make an impact, enhance their expertise and collaborate with some of the world’s top business and technology professionals.<br><br>
Whether you join us as an intern, as a fresher or as an experienced professional, Iniesta webtech provides you the gateway to a global network of talented, driven and inquisitive individuals, working together in a company where talent and individuality are deeply valued.
</p></text>
    </div>
    <div class="rec5">
    	<text class="p8" align="center"><h1>Life at </h1><h2>  INIESTA</h2><br><p>
    	Our culture is a foundation of our success and it is completely people oriented, touching lives and making a difference to employees, stakeholders, customers and partners alike. We believe that excellence is not a destination but a journey on continuous improvement and we keenly promote an open culture, encouraging feedback, and actively transforming it in to action.</p>
	    </text>
    </div>
    <div>
    	<text class="t16">Contact<font color="Red"> Us</font>
    </div>
    <div class="rec9"> 	
    	<img src="{% static 'career_page_images/10.png' %}" class="im10">
    </div>
    <div class="rec10">
    	<text style="align:center" class="t17">Send<font color="Red"> Queries</font> Today!</text>
    	<label class="lb1">Name</label><br>
    	<input type="text" name="Name" class="in1" size="25">
    	<label class="lb2">Email</label><br>
    	<input type="text" name="Name" class="in2" size="25">
    	<label class="lb3">Phone</label><br>
    	<input type="text" name="Name" class="in3" size="25">
    	<label class="lb4">Message</label><br>
    	<input type="text" name="Name" class="in4" size="25">
    </div>
    <div>
    	<input type="submit" name="submit" value="Submit" class="rec11">
    </div>
    <div class="t18">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Contact</li><br></font>
            <font color="#7E7E7E" size=5px><li>To Email us</li>
            <li><a href="mailto:Support@iniestawebtech.com">Click here</a></li><br>
            <li>8182818101 <br> 9650038182</li><br>
            <font color="#FF495F" class="f1"><li>Address</li><br></font>
            <li>Sector 63 H block Noida </li>
            <li>uttar Pradesh 201301</li></font>
        </ul>
    </div>
    <div class="t19">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Menu</li></font>
            <font color="#7E7E7E" size=5px><li>Home</li>
            <li>About Us</li>
            <li>Our Service</li>
            <li>Clients</li>
            <li>Project</li>
            <li>Career</li>
            <li>Contact</li></font>
        </ul>
    </div>
    <div class="t20">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Services</li></font>
            <font color="#7E7E7E" size=5px><li>Web Developments</li>
            <li>Mobile App Development</li>
            <li>UI/UX Design</li>
            <li>Ecommerce</li>
            <li>Digital Marketing</li>
            <li>Business Consultation</li>
            <li>Training & Internship</li></font>
        </ul>
    </div>
    <div class="t21">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>About</li></font>
            <font color="#7E7E7E" size=5px><li>Who we are</li>
            <li>Our Vision</li></font>
        </ul>
    </div>
    <div class="t22">
            <font color="#FF495F" class="f1">Follow us</font><br><br>
            <font size=6px><a href="www.facebook.com" class="facebook"><img src="facebook.png" class="fac1"></a>&nbsp&nbsp&nbsp&nbsp
            <a href="www.twitter.com" class="twitter"><img src="tweet.png"></a>&nbsp&nbsp
            <a href="www.instagram.com" class="instagram"><img src="insta.png"></a><br><br>
            <a href="www.linkedin.com" class="linkedin"><img src="linkedin.png"></a></font>
      </div>
     </text>
 </div>
 {% endblock body %}
