{% extends "polls_base.html" %}
{% load static %}

{% block tilte %}
  Home
{% endblock tilte %}   
{% block css_files %}
  
<link rel="stylesheet" type="text/css" href="{% static 'css/logo.css' %}">
{% endblock css_files %}

{% block body %}
  
	<div>
		<text class="t1">Developing Technologies and <font color="Red"> Trust</font></text>
	</div>
	<div>
		<text class="t2">Noida based INIESTA WEBTECH  is believed to be one of the popular providers of IT services. The professional company is closely structured in such a way to offer more acquirable results and solutions for use in a variety of businesses, encountering problems in information and technology sector.
The dealing with each and every client is being valued by the company, which completely go through the demands of the customers and deliver it accordingly. With the opening of newer horizons, the company is still able to maintain its reputed position in the market. Iniesta maintains an excellent team with highly skilled and dynamic expert professionals in order to preserve the service excellence. The team experts who are highly motivated will mainly focus on fulfilling the necessities of the company's principals. Innovation, commitment, quality and superior service help to determine the ways to reach the profitable growth. The company equipped with fine infrastructure and ideal technology support together with the broader distribution network so that the business requirements of the partners can be satisfied. Our only goal is to make the clients and customers happy with our valuable products and services.
</text>
	</div>
	<div>
		<text class="t3">Read More...</text>
	</div>
	<div>
    <img src="{% static 'images/1.png' %}" class="im1">

	</div>
	<div>
    <img src="{% static 'images/1.png' %}" class="im1">
    <img src="{% static 'images/star2.png' %}" class="s2">
	</div>
	<div>
    <img src="{% static 'images/2.png' %}" class="im2">
	</div>
	<div>
    <img src="{% static 'images/3.png' %}" class="im3">
	</div>
    <div class="rec2">
    	<text class="t4">Book your free consultation</text>
    </div>
    <div>
      <img src="{% static 'images/vec2.png' %}" class="im">
    </div>
    <div>
        <text class="t5">Website <font color="Red">Development</font> Services</text>
    </div>
    <div>
      <img src="{% static 'images/star2.png' %}" class="s3">
    </div>
    <div>
    	<text class="t6">Website has become an essential and significant part of human life. Every business needs a website to showcase its skill, products, talents, and much more. Everything can be formed and updated with a website. Iniesta webtech understands the necessities and crafts exquisite website and CMS systems for start-ups or businesses. We are the leading tailor-made web development company, delivering the best web and CMS solutions across the globe.<br>
Our highly skilled developers have proficient expertise in the latest technology and trends. We worked with global firms to transform recognized ideas into stunning & inventive websites. We have rich experience and creativity in producing phenomenal websites and CMS development for different clients worldwide. Our experts hold a different and unique perspective which helps to tailor web development faster and better. With this web development, the business runs with high functionality, efficiency and enhances it.
</text>
    </div>
    <div>
      <img src="{% static 'images/vec3.png' %}" class="l1">
    </div>
    <div>
      <img src="{% static 'images/vec4.png' %}" class="l2">
    </div>
    <div>
      <img src="{% static 'images/4.png' %}" class="im4">
    </div>
    <div class="rec3">
    	<text class="l3">See More</text>
      <img src="{% static 'images/vec5.png' %}" class="l4">
      <img src="{% static 'images/vec6.png' %}" class="l5">
    </div>
    <div>
      <img src="{% static 'images/5.png' %}" class="im5">
    </div>
    <div>
    	<text class="t7"><font color="Red">UI</font>/UX Design Services</text>
    </div>
    <div>
    	<text class="t8">At Iniesta webtech, we dedicate our UI/UX designers and researchers to work alongside our partners to help them design powerful user experiences. <br>
In addition to working with many best designer we share our knowledge with the UI/UX community. <br>
We are a best team of UI/UX design and research experts who strive to design impactful digital products. We work with tech startups and enterprises in various industries, such as fintech, fashion, digital solutions, traveling, education and healthcare and ecommerce and many application.
	    </text>
    <div class="rec4">
    	<text class="l3">See More</text>
      <img src="{% static 'images/vec5.png' %}" class="l4">
      <img src="{% static 'images/vec6.png' %}" class="l5">
    </div>
    <div>
    	<text class="t9">E-<font color="Red"> Commerce</font> Services</text>
    </div>
    <div>
    	<text class="t10">It is a simple method of purchasing and selling transactions of products based online over the internet. The E-Commerce website is quite popular and lately becoming essential for the business. If you are one of the rising entrepreneurs looking for a perfect way of promoting your brand? E-Commerce is the perfect way to fulfill your needs for promotions. The scale might be different for everyone, but the result always turns out to be profitable.<br>
E-Commerce websites transform businesses and help them to expand for the growth of the company. Match your needs and preferences with E-Commerce websites. All operations targeted at the creation, management, and evolution of a web store are covered under ecommerce website design and development. With one click, the operation online can perform in E-Commerce development. The UX/UI is the E-Commerce website's key factor, and large options attract customers and users.
	    </text>
    </div>
    <div class="rec5">
    	<text class="l3">See More</text>
      <img src="{% static 'images/vec5.png' %}" class="l4">
      <img src="{% static 'images/vec6.png' %}" class="l5">
    </div>
    <div>
      <img src="{% static 'images/6.png' %}" class="im6">
    </div>
    <div>
      <img src="{% static 'images/star2.png' %}" class="s4">
    </div>
    <div>
      <img src="{% static 'images/7.png' %}" class="im7">
    </div>
    <div>
    	<text class="t11">Digital<font color="Red"> Marketing</font></text>
    </div>
    <div>
    	<text class="t12">We are a top-notch Digital Marketing & Transformation agency that blends the flavors of Marketing & Technology at the right levels. With our innovative solutions, we help brands to leverage the power of digital and unleash growth potential. We are proud to be associated with some of the leading brands as their extended team, we simply work as a team with our clients.</text>
	    </div>
    <div class="rec6">
    	<text class="l3">See More</text>
      <img src="{% static 'images/vec5.png' %}" class="l4">
      <img src="{% static 'images/vec6.png' %}" class="l5">
    </div>
    <div>
      <img src="{% static 'images/vec7.png' %}" class="l6">
    </div>
    <div>
    	<text class="t13"><font color="Red">Business</font> Consultation</text>
    </div>
    <div>
    	<text class="t14">Our state-of-the-art ECommerce Website Development practice enables you to witness an expansion of your Ecommerce platform like never before, with an even higher graph of sales.</text>
    </div>
    <div>
      <img src="{% static 'images/8.png' %}" class="im8">
    </div>
    <div class="rec7">
    	<text class="l3">See More</text>
    	<img src="{% static 'images/vec5.png' %}" class="l4">
      <img src="{% static 'images/vec6.png' %}" class="l5">
    </div>
    <div>
      <img src="{% static 'images/9.png' %}" class="im9">
    </div>
    <div class="rec8">
    	<text class="t15">Training & Internship</text>
      <img src="{% static 'images/vec8.png' %}" class="l7">
      <img src="{% static 'images/vec9.png' %}" class="l8">
    </div>
    <div>
        <text class="t16">Contact<font color="Red"> Us</font></text>
    </div>
    <div class="rec9">
      <img src="{% static 'images/10.png' %}" class="im10">
    </div>
    <div class="rec10">
    	<text style="align:center" class="t17">Send<font color="Red"> Queries</font> Today!</text>
    	<label class="lb1">Name</label><br>
    	<input type="text" name="Name" class="in1" size="25">
    	<label class="lb2">Email</label><br>
    	<input type="text" name="Name" class="in2" size="25">
    	<label class="lb3">Phone</label><br>
    	<input type="text" name="Name" class="in3" size="25">
    	<label class="lb4">Message</label><br>
    	<input type="text" name="Name" class="in4" size="25">
    </div>
    <div>
    	<input type="submit" name="submit" value="Submit" class="rec11">
    </div>
    {% endblock body %}
