{% extends "polls_base.html" %}
{% load static %}

{% block title %}
  Services
{% endblock title %}


{% block css_files %}
  
<link rel="stylesheet" type="text/css" href="{% static 'css/service_style.css'%}">
{% endblock css_files %}
{% block body %}
  
	
		<div>
			<text class="t1"><p>Website <font color="Red"> Development</font><br> Services</p></text>
		</div>
		<div>
			<img src="{% static 'service_page_images/star2.png' %}" class="s1">
		</div>
		<div>
			<text class="t2">Website has become an essential and significant part of human life. Every business needs a website to showcase its skill, products, talents, and much more. Everything can be formed and updated with a website. Iniesta webtech understands the necessities and crafts exquisite website and CMS systems for start-ups or businesses. We are the leading tailor-made web development company, delivering the best web and CMS solutions across the globe.<br>
Our highly skilled developers have proficient expertise in the latest technology and trends. We worked with global firms to transform recognized ideas into stunning & inventive websites. We have rich experience and creativity in producing phenomenal websites and CMS development for different clients worldwide. Our experts hold a different and unique perspective which helps to tailor web development faster and better. With this web development, the business runs with high functionality, efficiency and enhances it.
			</text>
		</div>
		<div class="rec8">
        	<img src="{% static 'service_page_images/dlu.png' %}">
        </div>
		<div>
			<img src="{% static 'service_page_images/1,2.png' %}" class="im1">
		</div>
		<div class="rec2">
	    	<text class="sm1">See More</text>
	    	<img src="{% static 'service_page_images/veccir.png' %}"  class="vc1">
	    	<img src="{% static 'service_page_images/vecarr.png' %}" class="va1">
        </div>
        <div class="rec7">
        	<img src="{% static 'service_page_images/dld.png' %}">
        </div>
		<div>
			<text class="t3"><p><font color="Red">UI</font>/UX  Design Services</p></text>
		</div>
		<div>
			<text class="t4">At Iniesta webtech, we dedicate our UI/UX designers and researchers to work alongside our partners to help them design powerful user experiences. <br>
In addition to working with many best designer we share our knowledge with the UI/UX community. <br>
We are a best team of UI/UX design and research experts who strive to design impactful digital products. We work with tech startups and enterprises in various industries, such as fintech, fashion, digital solutions, traveling, education and healthcare and ecommerce and many application.
			</text>
		</div>
		<div>
			<img src="{% static 'service_page_images/3,4.png' %}" class="im2">
		</div>
		<div class="rec3">
	    	<text class="sm2">See More</text>
	    	<img src="{% static 'service_page_images/veccir.png' %}" class="vc2">
	    	<img src="{% static 'service_page_images/vecarr.png' %}" class="va2">
        </div>
		<div>
			<img src="{% static 'service_page_images/star2.png' %}" class="s2">
		</div>
		<div>
			<text class="t5"><p>E- <font color="Red">Commerce</font> Services</p></text>
		</div>
		<div>
			<text class="t6">It is a simple method of purchasing and selling transactions of products based online over the internet. The E-Commerce website is quite popular and lately becoming essential for the business. If you are one of the rising entrepreneurs looking for a perfect way of promoting your brand? E-Commerce is the perfect way to fulfill your needs for promotions. The scale might be different for everyone, but the result always turns out to be profitable.<br>
E-Commerce websites transform businesses and help them to expand for the growth of the company. Match your needs and preferences with E-Commerce websites. All operations targeted at the creation, management, and evolution of a web store are covered under ecommerce website design and development. With one click, the operation online can perform in E-Commerce development. The UX/UI is the E-Commerce website's key factor, and large options attract customers and users.
			</text>
		</div>
		<div class="rec4">
	    	<text class="sm3">See More</text>
	    	<img src="{% static 'service_page_images/veccir.png' %}" class="vc3">
	    	<img src="{% static 'service_page_images/vecarr.png' %}" class="va3">
        </div>
		<div>
			<img src="{% static 'service_page_images/5,6.png' %}" class="im3">
		</div>
		<div>
			<text class="t7"><p>Digital<font color="Red"> Marketing</font></p></text>
		</div>
		<div>
			<text class="t8">We are a top-notch Digital Marketing & Transformation agency that blends the flavors of Marketing & Technology at the right levels. With our innovative solutions, we help brands to leverage the power of digital and unleash growth potential. We are proud to be associated with some of the leading brands as their extended team, we simply work as a team with our clients.</text>
		</div>
		<div>
			<img src="{% static 'service_page_images/7,8.png' %}" class="im4">
		</div>
		<div class="rec5">
	    	<text class="sm4">See More</text>
	    	<img src="{% static 'service_page_images/veccir.png' %}" class="vc4">
	    	<img src="{% static 'service_page_images/vecarr.png' %}" class="va4">
        </div>
        <div></div>

		<div>
			<text class="t9"><p><font color="Red">Business </font>Consultation</p></text>
		</div>
		<div>
			<text class="t10">Our state-of-the-art ECommerce Website Development <br>practice enables you to witness an expansion of your <br>Ecommerce platform like never before, with an even higher <br>graph of sales.
			</text>
		</div>
		<div>
			<img src="{% static 'service_page_images/9,10.png' %}" class="im5">
		</div>
		<div class="rec6">
	    	<text class="sm5">See More</text>
	    	<img src="{% static 'service_page_images/veccir.png' %}" class="vc5">
	    	<img src="{% static 'service_page_images/vecarr.png' %}" class="va5">
        </div>
        <div>
        	<img src="{% static 'service_page_images/11.png' %}"class="im11">
        	<text class="t11">Training & Internship</text>
        </div>
        <div>
			<text class="t16">Contact<font color="Red"> Us</font></text>
	    </div>
	    <div class="rec9"> 	
	    	<img src="{% static 'service_page_images/12.png' %}" class="im10">
	    </div>
        <div class="rec10">
    	<text style="align:center" class="t17">Send<font color="Red"> Queries</font> Today!</text>
    	<label class="lb1">Name</label><br>
    	<input type="text" name="Name" class="in1" size="25">
    	<label class="lb2">Email</label><br>
    	<input type="text" name="Name" class="in2" size="25">
    	<label class="lb3">Phone</label><br>
    	<input type="text" name="Name" class="in3" size="25">
    	<label class="lb4">Message</label><br>
    	<input type="text" name="Name" class="in4" size="25">
    	</div>
    <div>
    	<input type="submit" name="submit" value="Submit" class="rec11">
    </div>
        <div class="t18">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Contact</li><br></font>
            <font color="#7E7E7E" size=5px><li>To Email us</li>
            <li><a href="mailto:Support@iniestawebtech.com">Click here</a></li><br>
            <li>8182818101 <br> 9650038182</li><br>
            <font color="#FF495F" class="f1"><li>Address</li><br></font>
            <li>Sector 63 H block Noida </li>
            <li>uttar Pradesh 201301</li></font>
        </ul>
    </div>
    <div class="t19">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Menu</li></font>
            <font color="#7E7E7E" size=5px><li>Home</li>
            <li>About Us</li>
            <li>Our Service</li>
            <li>Clients</li>
            <li>Project</li>
            <li>Career</li>
            <li>Contact</li></font>
        </ul>
    </div>
    <div class="t20">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Services</li></font>
            <font color="#7E7E7E" size=5px><li>Web Developments</li>
            <li>Mobile App Development</li>
            <li>UI/UX Design</li>
            <li>Ecommerce</li>
            <li>Digital Marketing</li>
            <li>Business Consultation</li>
            <li>Training & Internship</li></font>
        </ul>
    </div>
    <div class="t21">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>About</li></font>
            <font color="#7E7E7E" size=5px><li>Who we are</li>
            <li>Our Vision</li></font>
        </ul>
    </div>
    <div class="t22">
            <font color="#FF495F" class="f1">Follow us</font><br><br>
            <font size=6px><a href="www.facebook.com" class="facebook"><img src="facebook.png" class="fac1"></a>&nbsp&nbsp&nbsp&nbsp
            <a href="www.twitter.com" class="twitter"><img src="tweet.png"></a>&nbsp&nbsp
            <a href="www.instagram.com" class="instagram"><img src="insta.png"></a><br><br>
            <a href="www.linkedin.com" class="linkedin"><img src="linkedin.png"></a></font>
      </div>
     </text>
 </div>
</body>
</html>
    
	{% endblock body %}
